<!-- Page Content -->
<header class="bg-warning py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img class="logo-boa-entrega-menu" src="/assets/logo-boa-entrega.jpg"/>
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Módulo - Gestão de Serviços de Logística</h1>
                <p class="lead mb-5 text-white">Faça todo seu gerenciamento de entregas, saiba em qual deposito está a mercadoria e a qual fornecedor ela pertence e pra qual cliente será enviado.</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/cadastro.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Módulo de Informações Cadastrais</h4>
                    <p class="card-text">Crie ou gerencie todas as informações cadastrais.</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-cadastral/gerenciar-cadastros']" class="btn btn-warning text-white">Gerenciar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/estrategia.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Módulo de Gestão Estratégica</h4>
                    <p class="card-text">Gerencie toda gestão estratégica da empresa</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-gestao-estrategica/gestao-estrategica']" class="btn btn-warning text-white">Gerenciar</a>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/bi.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Módulo Ciência de Dados</h4>
                    <p class="card-text">Entenda seus dados e tire os melhores resultados.</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-ciencia-dados/gestao-ciencia-dados']" class="btn btn-warning text-white">Gerenciar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/servico-cliente.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Módulo de Serviços de Cliente</h4>
                    <p class="card-text">Gerencie todos os clientes já cadastrados na Boa Entrega.</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-servico-cliente/servico-clientes']" class="btn btn-warning text-white">Gerenciar</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Fim Content -->
