<!-- Page Content -->
<header class="bg-warning py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img class="logo-boa-entrega-menu" src="/assets/logo-boa-entrega.jpg"/>
            </div>
            <div class="col-lg-8">
                <h1 class="display-5 text-white mt-5 mb-2">Modulo - Serviços de Clientes</h1>
                <p class="lead mb-5 text-white">Gerencie todos os serviços de clientes.</p>
            </div>
           
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/logistica.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Logística</h4>
                    <p class="card-text">Faça o seu processo de planejamento e execução eficiente do transporte e armazenamento de todas as suas mercadorias</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-servico-cliente/logistica/listar-todos']" class="btn btn-warning text-white">Gerenciar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/clientes.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Clientes</h4>
                    <p class="card-text">Gerencie todos os clientes já cadastrados na Boa Entrega.</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-servico-cliente/clientes/listar-todos']" class="btn btn-warning text-white">Gerenciar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/fornecedores.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Gestão de Processos - BPM</h4>
                    <p class="card-text"> Automatize processos e delegue tarefas individuais e coletivas com nossos recursos.</p>
                </div>
                <div class="card-footer">
                    <a  [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-servico-cliente/fornecedores/listar-todos']" class="btn btn-warning text-white disabled">Gerenciar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->
