<!-- Page Content -->
<header class="bg-warning py-5 mb-0">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img class="logo-boa-entrega-menu" src="/assets/logo-boa-entrega.jpg"/>
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Módulo - Gestão Estratégica</h1>
                <p class="lead mb-5 text-white">Gerencie todas as informações estratégicas.</p>
            </div>
        </div>
    </div>
</header>


<div class="vh-100 vw-100">

 
    <iframe class="vh-100 vw-100" src="https://cloudwatch.amazonaws.com/dashboard.html?dashboard=Entregas&context=eyJSIjoidXMtZWFzdC0xIiwiRCI6ImN3LWRiLTQ0NzY3Mjk5Mjk2MiIsIlUiOiJ1cy1lYXN0LTFfeGNqMWpHVWM0IiwiQyI6Im0zczV1Mm1lcWF2YzByNnU3cm03NGNuMjAiLCJJIjoidXMtZWFzdC0xOmI4ZDQ2YmY5LTk5NzYtNDNjMy1hODhkLWNiMjhlNmQwMDZhNiIsIk8iOiJhcm46YXdzOmlhbTo6NDQ3NjcyOTkyOTYyOnJvbGUvc2VydmljZS1yb2xlL0NXREJTaGFyaW5nLVB1YmxpY1JlYWRPbmx5QWNjZXNzLURZVFlXSVRQIiwiTSI6IlB1YmxpYyJ9" frameborder="0"></iframe>


</div>
