<div class="container main-container">
    <h1>Detalhes do {{ usuario.nome }}</h1>

    <div>
        <h4>Informação somente leitura</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
            <label class="control-label">Nome</label>
        </dt>
        <dd class="col-sm-10">
            {{ usuario.nome }}
        </dd>

        <dt class="col-sm-2">
                <label class="control-label">Documento</label>
        </dt>
        <dd class="col-sm-10">
            {{usuario.perfil === idPerfilFornecedor ? (usuario.cpfCnpj | cnpj) : (usuario.cpfCnpj | cpf ) }}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Perfil</label>
        </dt>
        <dd class="col-sm-10">
            {{ perfil }}
        </dd>

        <dt class="col-sm-2">
                <label class="control-label">Ativo</label>
        </dt>
            <dd class="col-sm-10">
                <input [checked]="usuario.ativo" class="check-box" disabled="disabled" type="checkbox">
            </dd>
        </dl>
        <div class="row">
            <br>
            <iframe width="100%" height="450" frameborder="0" style="border:0; padding-bottom: 50px;" [src]="enderecoMap" allowfullscreen></iframe>
        </div>
    </div>

    <!-- <lista-produto [produtos]="usuario.produtos"></lista-produto> -->

    <div>
        <a class="btn btn-warning text-white" [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-cadastral/usuarios/editar',usuario.id]">Editar</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/gsl/modulo-gestao-servicos-logistica/modulo-cadastral/usuarios/listar-todos']">Voltar</a>
    </div>
</div>