<!-- Page Content -->
<header class="bg-danger py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img class="logo-boa-entrega-menu" src="/assets/logo-boa-entrega.jpg"/>
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Sistema de Gestão de Entregas</h1>
                <p class="lead mb-5 text-white">Você está pronto para aprender muito sobre este fantástico framework SPA?</p>
            </div>
        </div>
    </div>
</header>


<div class="vh-100 container main-container d-flex justify-content-center">
    <div class="col-lg-12 text-center">
        <h1 class="text-danger">MÓDULO - SISTEMA DE GESTÃO DE ENTREGAS</h1>
    </div>
</div>